@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url("~ngx-smart-modal/ngx-smart-modal.css");

/**
 *  Table of Contents
 *  =================
 *  1. Standard overrides
 *  2. Forms
 *  3. List Pages
 *  4. Detail Pages
 */
:root {
  --primary-color: green;
  --danger-color: #c40000;
  --accent-color: #6c006c;
  --accent-lighter-color: #bb00bb;
  --error-color: #c40000;

  --nav-background: #485368;
  --lighter-nav-bg: #7b869b;

  --input-border: #cad0d9;

  --shadow-color: rgba(0,0,0,0.44);

  --bhisma-orange: #f27720;
  --bhisma-orange-lighter: #F4924C;

  --info: #BCE7FD;
  --error: #af3b6e;
  --success: #1b998b;
  --light-red: #c492b1;
}

/**
 * 1. Standard overrides
 * ---------------------
 * Site-wide styling -- not specific to any single type of page
 */
body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}
h1 {
  font-size: 1.5em;
  font-weight: normal;
}
h2 {
  font-size: 1.1em;
  font-weight: bold;
}
h3 {
  font-size: 1em;
  font-weight: bold;
}

/* 1.1 Common Classes */
.hidden { display: none; }


/**
 * 2. Forms
 * --------
 */
input, select {
  font-size: 1em;
  font-family: inherit;
  border: solid var(--input-border) 1px;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 5px;
}
input.ng-untouched {
  border: solid var(--input-border) 1px !important;
}

/* For input fields that should immediately show when they are invalid */
.immediate-error-display input.ng-untouched.ng-invalid {
  border-color: var(--error) !important;
}

input.ng-invalid {
  border-color: var(--error);
}
input[type=color] {
  padding: 0;
}

select {
  height: 31px; /* fix height: select boxes don't respect padding */
}
form {
  max-width: 500px;
}
input[type=file] {
  border: none;
}
input {
  width: 100%;
}
textarea {
  font-size: 1em;
  font-family: inherit;
  border: solid var(--input-border) 1px;
  border-radius: 2px;
  width: 100%;
  height: 5em;
}
label {
  display: block;
  padding-bottom: 7px;
  color: var(--nav-background);
  box-sizing: border-box;
  min-height: 61px;
}

/* A label which should leave **no** space for displaying field-errors */
label.without-field-errors { min-height: 0; }

label > span:first-child {
  font-size: .7em;
  font-weight: bold;
  display: block;
}
label small {
  display: block;
}
input[type=file] {
  display: block;
}
input[type=checkbox] {
  width: auto;
}

/* 2.1 Generic Form Components */
.control {
  border: none;
  border-radius: 2px;
  color: white;
  background: var(--bhisma-orange);
  height: 31px;
  line-height: 31px;
  font-weight: lighter;
  font-size: 1em;
  text-decoration: none;
}
button.control, a.control {
  box-sizing: border-box;
  transition: all 0.2s;
}
button.control:hover:not([disabled]), a.control:hover:not([disabled]) {
  color: white;
  background-color: var(--bhisma-orange-lighter);
}
button.control:disabled, a.control:disabled {
  color: var(--nav-background);
  background-color: var(--lighter-nav-bg);
}

div.controls-container {
  margin-top: 20px;
}
div.controls-container button {
  width: 100%;
}


/* 2.1.2 Form Error States */
input.error, select.error, textarea.error {
  border: var(--error) solid 1px
}
form .error-detail {
  /* Small help-text displayed below form input fields when validation fails */
  color: var(--error);
  font-size: .5em;
  font-weight: bold;
}

/* 2.1.3 Errors related to data-entry but not linked to a single field */
ul.non-field-errors {
  color: var(--error);
  min-height: 50px;
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 0;
  display: block;
}


/*
 * 2.2 List Pages
 */
.list-page-header {
  margin-bottom: 25px;
}
table {
  box-shadow: 0 0 8px -1px var(--shadow-color);
  width: 100%;
  border-collapse: collapse;
}
table tbody tr {
  border-bottom: 1px solid lightgray;
  transition: background-color 0.3s;
}
td, th {
  padding: 7px;
}
thead th:first-of-type, tbody td:first-of-type {
  text-align: left;
}
tbody td {
  text-align: center;
}
tbody tr:hover, tbody tr:focus, tbody tr:active {
  background-color: #f5f5f5;
}



/**
 * 2.3 Detail Pages
 */
.entity-detail-form {
  width: 100%;
  max-width: 500px;
}
.entity-detail-form label,
.entity-detail-form label > span {
  display: block;
}
.entity-detail-form textarea {
  width: 100%;
}

.control {
  border-radius: 2px;
  border: none;
  color: white;
  background: var(--bhisma-orange);
}
button.control, a.control {
  font-weight: lighter;
  font-size: 1em;
  text-decoration: none;
  height: 31px;
  line-height: 31px;
  padding: 0 15px;
  box-sizing: border-box;
  transition: all 0.2s;
}

button.control:hover:not([disabled]), a.control:hover:not([disabled]) {
  color: white;
  background-color: var(--bhisma-orange-lighter);
}

button.control:disabled, a.control:disabled {
  color: var(--nav-background);
  background-color: var(--lighter-nav-bg);
}

/**
 *
 */
.new-entity {
  display:inline-block;
  border:0.1em solid black;
  transition: all 0.2s;

  padding:0.35em 1.2em;
  margin:0 0.3em 0.3em 0;

  border-radius:0.12em;
  box-sizing: border-box;

  text-decoration:none;
  font-weight:bold;
  color: black;
  text-align:center;

  height: 40px;
  line-height: 40px;
}
.new-entity i.material-icons {
  color: black;
  height: 40px;
  line-height: 40px;
}


/**
 *
 */
.entity-detail-form .actions-container {
  display: flex;
  margin-top: 1.5em;
}
.entity-detail-form .actions-container button:last-child {
  margin-left: auto;
}


.actions-container {
  margin-top: 20px;
}
.actions-container :not(:first-child) {
  margin-left: 5px;
}
.actions-container button, .actions-container a {
  font-weight: lighter;
  font-size: 1em;
  text-decoration: none;
  height: 31px;
  line-height: 31px;
  padding: 0 15px;
  box-sizing: border-box;
  transition: all 0.2s;
  border-radius: 2px;
  border: none;
  color: white;
  background: var(--bhisma-orange);
}
.actions-container button:hover:not([disabled]), .actions-container a:hover:not([disabled]) {
  color: white;
  background-color: var(--bhisma-orange-lighter);
}
.actions-container button:disabled, .actions-container a:disabled {
  color: var(--nav-background);
  background-color: var(--lighter-nav-bg);
}


/*.primary:hover:not([disabled]), .primary:focus:not([disabled]) {*/
/*  color: white;*/
/*  border-color: var(--primary-color);*/
/*  background-color: var(--primary-color);*/
/*}*/

/*.danger:hover:not([disabled]), .danger:focus:not([disabled]) {*/
/*  color: white;*/
/*  border-color: var(--danger-color);*/
/*  background-color: var(--danger-color);*/
/*}*/

.shadow-box {
  box-shadow: 0 0 8px -1px var(--shadow-color);
  border-collapse: collapse;
}

.actions-container button:disabled,
.actions-container a:disabled {
  color: lightgray;
  border-color: lightgray
}

@media all and (max-width:30em){
  .actions-container button,
  .actions-container a {
    display:block;
    margin:0.4em auto;
  }
}


